body {
    background-color:beige;
    display:flex;
    flex-wrap:wrap;
}

.imageborder{
    margin: auto;
    padding:20;
    border-style:dashed;
    border-color:maroon;
}

h1{
    color:darkblue;
    font-family:sans-serif;
}
nav {
    order:-1;
    width:100%;
    background-color:lightblue;
    margin: 5px;
    padding: 0px;
    border-color:lightsalmon;
    border-style: dotted;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
nav a{
    padding:5px;
}
header {
    width:100%;
    text-align:center;
}


footer{
    background-color: seagreen;
}