body {
    background-color:beige;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}

.imageborder{
    margin: auto;
    padding:20;
    border-style:dashed;
    border-color:maroon;
}

h1{
    color:darkblue;
    font-family:sans-serif;
}
#courses{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:left;
}
main p.blurb last-of-type{
    border-top:dotted;
    border-color:Grey;
}
main p.blurb first-of-type{
    border-top:dotted;
    border-color:grey;
}
main p.link last-of-type{
    border-top:solid;
    border-color:Grey;
}
main p.link first-of-type{
    border-top:dotted;
    border-color:grey;
}
nav {
    order:-1;
    width:100%;
    background-color:lightblue;
    margin: 5px;
    padding: 0px;
    border-color:lightsalmon;
    border-style: dotted;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
}

nav a{
    padding:5px;
}
header {
    width:100%;
    text-align:center;
}


footer{
    background-color: seagreen;
}

@media only screen and (min-width:600px){
    body{
        flex-direction:row;
    }
    nav {
        flex-direction:row;
    }
    #courses{
        display:flex;
        flex-direction:row;
    }
    main > p.link{
        padding:0px;
        margin:0px;
        margin-bottom:10px;
        width:30%;
        
    }
    main > p.blurb{
        padding:0px;
        margin:0px;
        margin-bottom:10px;
        width:65%;
        
    
}