body {
    background-color:beige;
}

.imageborder{
    margin: auto;
    padding:20;
    border-style:dashed;
    border-color:maroon;
}


nav {
    background-color:lightblue;
    margin: auto;
    text-align: center;
    padding: 30px;
    border-color:lightsalmon;
    border-style: dotted;
}


footer{
    background-color: seagreen;
}